.dot_flashing {
   position: relative;
   width: 10px;
   height: 10px;
   border-radius: 5px;
   background-color: $primary-color;
   color: $primary-color;
   animation: dot_flashing 1s infinite linear alternate;
   animation-delay: 0.5s;
   margin-left: 1rem;

   &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: -15px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: $primary-color;
      color: $primary-color;
      animation: dot_flashing 1s infinite alternate;
      animation-delay: 0s;
   }

   &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 15px;
      width: 10px;
      height: 10px;
      border-radius: 5px;
      background-color: $primary-color;
      color: $primary-color;
      animation: dot_flashing 1s infinite alternate;
      animation-delay: 1s;
   }
}

@keyframes dot_flashing {
   0% {
      background-color: $primary-color;
   }

   50%,
   100% {
      background-color: $secondary-color;
   }
}