.page {
   &__layout {
      width: 100%;
      height: 100dvh;
      // background-color: #f9f9f9;
      overflow-y: auto;
   }

   &__content {
      width: 100%;
      min-height: 100dvh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;

      .login {
         &__card {
            z-index: 2;
            margin-top: 4rem;
            border-radius: 1rem;
            padding: 3rem 2rem;
            max-width: 27rem;
            width: 100%;
            background-color: white;

            &_title {
               margin-bottom: 2rem;
               text-align: center;
            }

            &_img {
               width: 100%;
               display: flex;
               align-items: center;
               justify-content: center;
               margin-bottom: 2rem;

               img {
                  width: 20%;
               }
            }

            &_body {
               margin-bottom: 1rem;
            }

            &_footer {
               display: flex;
               align-items: center;
               justify-content: center;
               flex-direction: column;
            }
         }
      }
   }
}