$primary-color: #0376bd;
$secondary-color: #ebf7ff;
$primary-color-hover: #305ace;
$contrast: #ffffff;
$primary-text: #000000;
$secondary-text: #6b7280;
$background-gradient-start: #f4f0ff;
$background-gradient-end: #dbf1ff;
$border-radius: 12px;
$font-family-main: 'Inter', sans-serif;