$primary-color: #6d4fc2;
$secondary-color: #f6f2ff;
$primary-color-hover: #593bab;
$contrast: #ffffff;
$primary-text: #000000;
$secondary-text: #6b7280;
$background-gradient-start: #f4f0ff;
$background-gradient-end: #dacdff;